{% extends 'base.html' %}
{% block title %}login{% endblock %}
{% load static %}
{% block content %}

<style type="text/css">
    .panel-heading {
        padding: 5px 15px;
    }

    .panel-footer {
        padding: 1px 15px;
        color: #A0A0A0;
    }

    .profile-img {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
</style>

<body>
    <div class="container" style="margin-top:60px">
        <div class="row">
            <div class="col-lg-8">
                <img src="{% static 'img/telecon-systems-logo-final.jpg' %}" class="img-responsive">
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong> Sign in to continue </strong>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="{% url 'index' %}" method="POST">
                            {% csrf_token %}
                            <fieldset>
                                <div class="row">
                                    <div class="center-block">
                                    </div>
                                </div>
                                {% if message %}
                                <span style="color:red;font-weight:bold">{{message}}</span>
                                {% endif %}
                                <br>
                                <div class="row border=1 text-center">
                                    <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                        <div class="form-group mt-3">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-user"></i>
                                                </span>
                                                <input class="form-control" placeholder="Email Id" name="email"
                                                    type="email" autofocus required>
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-lock"></i>
                                                </span>
                                                <input class="form-control" placeholder="Password" name="password"
                                                    type="password" value="" required>
                                            </div>
                                        </div>
                                        <div class="form-group mt-4">
                                            <input type="submit" class="btn btn-lg btn-primary btn-block"
                                                value="Sign in">
                                            <a href="{% url 'register' %}"
                                                class="btn btn-lg btn-info btn-block">Register</a>
                                            <div id="emailHelp" class="form-text">if you don't have account.</div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                            <div class="col-md-6 offset-md-4">

                            </div>
                        </form>
                    </div>
    
                </div>
            </div>
        </div>
    </div>

    {% endblock %}